h2{
    margin: 20px;
}

.table-bg{
    padding: 5px;
    border: #1b1f61 1px solid;
    border-radius: 10px;
    background-image: linear-gradient(to right, #0f0b35,#0b1056);
    margin: 20px;
}

.table-heads{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.rows{
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #000000,#1b1f5d);
    margin: 20px;
}
.table-row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.row{
    margin-left: 55px;
    margin-right: 50px;
    width: 200px;
}

.assignee-select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1b1f61;
    color: white;
}